/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Modern No. 20", arial, verdana, sans-serif;
font-weight:normal;
}

thead th,
tbody th{
font-family: "Modern No. 20", sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Modern No. 20", serif;
}

.menu{
font-family: "Modern No. 20", serif;
}

blockquote{
font-family: "Modern No. 20", serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0 0 0 0;
color:#000;
background:#efefef url(css/img/gray_jean.png);
text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}

#wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}




* {
  font-family: "Modern No. 20";
}

/************
NAVIGATION 
************/

  #navbar {
   position: fixed;
   opacity: .95;
   top: 0;
   left: 0;
   width: 100%;
   padding: 10px;
   background: #FFFFFF;
   text-align: center;
   border-bottom :2px solid #CCC;
  }      

  #navbar ul {
    list-style: none;
    margin-left: 40px;     
    padding: .3em;  
    margin-left: 520px;       
  }            

  #navbar li {       
    float: left;      
    margin-left: 5px;    
  }      

  #navbar li a {       
    display: block;      
    background-color:#FFFFFF;      
    text-decoration: none;      
    border: none;      
    padding: .5em; 
    color: #333;     
  }

  #navbar li a:hover {           
    color: #000000;      
    text-decoration: underline;      
  }

  #navbar li ul {       
    display: none;
    position: absolute;            
    padding: 0;      
  }

  #navbar li:hover ul {       
    background-color: #FFFFFF;      
    text-align: center;      
    line-height: 3em;      
    display: block;      
    padding: 10px;      
  }

  #navbar li li {       
    float: none;      
    border-bottom: .75px solid #333;      
  }

  #navbar li li a {       
    border: 0;      
    border-left:  1px solid #CCC;      
    border-right: 1px solid #CCC; 
  } 

/************
HOME PAGE 
************/

#homecontent {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0px 130px 0px 130px;
}

#homecontent h1 {
  text-align: center;
}

#homecontent h5 {
  text-align: center;
}

#homecontent p {
  text-align: center;
  padding: 0px 200px 0px 200px;
  line-height: 2em;
}

/************
BREW PAGE 
************/

#brewcontent {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 0px 130px 0px 130px;
}

#brewcontent img {
	width: 35%;
	padding-bottom: 50px;
}

#brewcontent h1{
	text-align: center;
	padding-bottom: 40px;
}

#brewcontent p {
	width: 60%;
	float: right;
	padding-top: 50px;
}

/************
 ESPRESSO 
 PAGE 
 ************/

#espressocontent {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 0px 130px 0px 130px;
}

#espressocontent h1 {
	text-align: center;
	padding-bottom: 40px;
}

#espresso-header {
	width: 100%;
	padding-bottom: 50px;
}

#coffee-guide {
	width: 100%;
	padding: 50px 0px 50px 0px;
}

#espressocontent p {
	line-height: 2em;
	text-align: center;
}

#espressocontent h4 {
	text-align: center;
}

/************
 TRAVEL PAGE
 ************/

#travelcontent {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0px 130px 0px 130px;
}

#travelcontent h1 {
  text-align: center;
  padding-bottom: 40px;
}

#travelcontent img {
  padding-bottom: 50px;
}

#travelcontent p {
  line-height: 2em;
  text-align: center;
}

/************
 CONTACT PAGE 
 ************/

#contactcontent {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0px 130px 0px 130px;
}

#contactcontent h1 {
    text-align: center;
  padding-bottom: 40px;
}

#contactcontent ul {
  padding-left: 310px;
  list-style: none;
}

#contactcontent textarea {
  width: 60%;
}

#contactcontent input {
  width: 60%;
}

#instagram h4 {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 50px;
}

#instagram p {
  text-align: center;
}

#instagram img {
  padding-right: 15px;
}

#contact-photos {
  margin-left: 150px;
  padding-top: 30px;
}

/************
 FOOTER 
 ************/

#footer{
text-align:center;
padding:20px;
margin:0;
border-top:1px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
background:#fff;
}

  #link-top{
  display:none;
  }

.callout{
background:#4598ef;/*#86dc00;*/
padding:3em 0;
color:#fff;
box-shadow:inset 0 0 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0,0,0.2);
display:block;
}
	.callout + div.grid{margin-top:50px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}

#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}